
@{
    ViewBag.Title = "Index";
}

<h2>Event manager</h2>

<div class="col-md-3">
    <p>
        Some advertisment here.
    </p>
</div>

<div class="col-md-6 text-center">
    <p>
        Check all @Html.ActionLink("events.", "Index", "Event")
    </p>
</div>

<div class="col-md-3">
    <p>
        And some advertisment here.
    </p>
</div>